header{
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin: 0 auto;
    .content_esportes{
        background: var(--colors-gradient-1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: fit-content;
        max-height: 0;
        position: absolute;
        top: 0;
        overflow: hidden;
        z-index: 5;
        margin: auto;
        
        transition: all 0.5s ease 0s;
        backdrop-filter: blur(6px); 
        width: 100%;
        width: 100%;
        max-width: 1525px;
        top: 0;
        left: 0;
        right: 0;
        
        .section_bar{
            width: 100%;
            max-width: 1216px;
            display: flex;
            flex-direction: row;
            padding: 55px 0;
            align-items: center;
            margin: 115px auto 0px;
            flex-wrap: wrap;
            
            span{ 
                margin: auto; 
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                a{
                    color: var(--colors-white);
                    display: flex;
                    flex-direction: column;
                    gap: 23px;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    max-width: 170px;
                    text-decoration: none;
                    img{
                        display: block;
                        object-fit: cover;
                        width: 100%;
                        transition: transform 0.3s ease-in-out;
                    }
                    img:hover{
                        transform: scale(1.1); /* Aumenta em 10% */
                        
                    }
                }
            }
        }
        footer{
            width: 100%;
            background-color: var(--colors-neutral);
            width: 100%;
            padding: 24px 0;
            text-align: center;
            a{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                justify-content: center;
                text-decoration: none;
            }
        }
    }

    .content_esportes.show {
        max-height: 1300px;
        min-height: fit-content;
        // max-height: 100%;
        //* Mostra o conteúdo quando a classe 'show' é aplicada */
    }    
}

@media (max-width: 400px) {
    .content_esportes.show {
        height: fit-content;
        //* Mostra o conteúdo quando a classe 'show' é aplicada */
    } 
}