
.Jogos_Exclusivo{
    color: var(--colors-white);
    width: 100%;
    background: var(--colors-gradient-2);
    .app_card{
        max-width: 1521px;
        margin: 0 auto;
        padding: 0 51px;
        .header{
            padding: 85px 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            p{
                color: #8F9199;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            h2{
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 110.2%; /* 35.264px */
            }
            .logos{
                button{
                    background: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
            .ver_todos{
                button{
                    background: transparent;
                    border: none;
                    color: var(--colors-white);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    p{
                        color: var(--colors-blue);
                        text-align: center;
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        display: block !important;
                    }
                }

            }
        }
        .cards{
            display: grid;
            gap: 32px;
            grid-template-columns: repeat(auto-fit, minmax(159px, 287px));
            justify-content: space-between;
            padding-bottom: 107px;
            .card{
                position: relative;
                max-height: 460px;
                p{
                    color: #E5E5E5;
                    font-size: 19.35px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                span{
                    color: #E5E5E5;
                    font-size: 15.05px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .texto{
                    display: flex;
                    flex-direction: column;
                    gap: 17px;
                    img{
                        height: 393px;
                        display: block;
                        max-width: 100%;
                        object-fit: cover;
                    }
                }
                .relative{
                    position: relative;
                    // bottom: 50px;
                    top: -234px;
                    left: 61px;
                    right: 0;
                    // img{
                    // }
                }
            }
            .card_mais{
                display: grid;
                place-content: center;
                width: 287px;
                height: 412.8px;
                .ver_todos{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 36px;
                }
                button{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background: transparent;
                    justify-content: space-between;
                    border: none;
                    gap: 13px;
                    p{
                        color: var(--colors-white);
                    }
                }
            }
        }
    }
}


@media (max-width: 800px) {
    .secao_2{
        .app_card{
            padding: 0 14px;
            .header{
                padding: 85px 0;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                p{
                    display: none;
                }
                .logos{
                    display: none;
                }
            }
            .cards{
                display: grid;
                gap: 32px;
                grid-template-columns: repeat(auto-fit, minmax(159px, 287px));
                place-content: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .secao_2{
        .app_card{
            padding: 0 14px;
            .header{
                h2{
                    font-size: 28px;
                }
                .logos{
                    display: none;
                }
            }
        }
    }
}