:root {
  --colors-blue: #00AEFF;
  --colors-white: #FFF;
  --colors-gray-1: #E5E5E5;
  --colors-gray-2: #8F9199;
  --colors-gray-3: #828792;
  --colors-gray-4: #9D9D9D;
  --colors-neutral: #15171B;
  --colors-gradient-1: linear-gradient(136.72deg, rgba(7, 7, 10, 0.86) 19.22%, rgba(15, 16, 22, 0.5) 76.59%);
  --colors-black: #020203;
  --colors-gradient-2: linear-gradient(180deg, #020203 0%, rgba(14, 17, 23, 0.92) 96.35%, rgba(14, 17, 23, 0.9) 100%);
  --fonts-poppins: Poppins, sans-serif;
}

* {
  font-family: var(--fonts-poppins);
}

button {
  cursor: pointer;
}

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  transition: all 0.7s ease;
  background-image: url("../assets/banner-hero/games/diablo-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .center {
  border-bottom: 1px solid var(--colors-white);
  margin: 0 auto;
  max-width: 1521px;
  width: 100%;
}
header .center .cabecalho {
  padding: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}
header .center .cabecalho .logo {
  color: var(--colors-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
}
header .center .cabecalho .logo .progress-bar {
  position: absolute;
  bottom: -29px;
  left: 0;
  width: 30%;
  height: 3px;
  background-color: var(--colors-blue);
  transition: width 0.3s;
}
header .center .cabecalho .logo:hover .progress-bar {
  width: 100%;
}
header .center .cabecalho .novigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 121px;
}
header .center .cabecalho .menu_bar {
  display: flex;
  flex-direction: row;
  gap: 89px;
  align-items: center;
  justify-content: space-between;
}
header .center .cabecalho .menu_bar .buttons {
  gap: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header .center .cabecalho .menu_bar .buttons button {
  background: transparent;
  padding: 10px 25.231px;
  border-radius: 3px;
  color: var(--colors-white);
  cursor: pointer;
}
header .center .cabecalho .menu_bar .buttons .criar {
  border: 0.788px solid #FFF;
  color: #fff;
  position: relative;
  overflow: hidden;
}
header .center .cabecalho .menu_bar .buttons .criar span {
  position: relative;
  z-index: 1;
}
header .center .cabecalho .menu_bar .buttons .criar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--colors-white);
  transform: translateX(0);
  transition: transform 0.5s;
}
header .center .cabecalho .menu_bar .buttons .criar:hover::before {
  transform: translateX(100%);
}
header .center .cabecalho .menu_bar .buttons .criar:hover {
  color: #000;
}
header .center .cabecalho .menu_bar .buttons .logar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.308px;
  background: var(--colors-blue);
  border: none;
}
header .center .cabecalho .menu_bar .button_bar {
  background-color: transparent;
  border: none;
}

a {
  color: var(--colors-white);
}

@media (max-width: 600px) {
  header .center .cabecalho .menu_bar .buttons {
    display: none;
  }
}
body {
  background-color: #ccc;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
}
nav button {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  border: none;
  color: var(--colors-white);
  cursor: pointer;
}
nav a {
  color: var(--colors-white);
  text-decoration: none;
}

.button_bar {
  display: none;
}

@media (max-width: 978px) {
  nav {
    display: none;
  }
  .button_bar {
    display: block;
  }
}
:root {
  --cor-1: #00AEFF;
  --cor-2: #fff;
}

.modal {
  background: url("../assets/modal.png"), lightgray 50%/cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 696px;
  padding: 20px;
  position: absolute;
  margin: 0 auto;
  top: 76px;
  right: 0;
  left: 0;
  display: none;
  border-radius: 4px;
  z-index: 100;
  opacity: 0;
}
.modal .email .button_close {
  border: none;
  display: flex;
  justify-content: end;
  width: 100%;
  background-color: transparent;
}
.modal .email form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
  max-width: 426px;
  margin: 0 auto;
}
.modal .email form .dados {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.modal .email form .dados input {
  padding: 13px;
  border-radius: 4px;
  outline: 0;
  border: none;
}
.modal .email form .dados button {
  padding: 13px;
  border-radius: 4px;
  background: var(--cor-1);
  color: var(--cor-2);
  border: none;
}
.modal .email form .sicial_links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--cor-2);
}
.modal .email form .sicial_links a {
  display: inline-block;
}
.modal .email form .footer_modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--cor-2);
}
.modal .email form .footer_modal a {
  color: var(--cor-1);
}

header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
header .content_esportes {
  background: var(--colors-gradient-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 5;
  margin: auto;
  transition: all 0.5s ease 0s;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  width: 100%;
  width: 100%;
  max-width: 1525px;
  top: 0;
  left: 0;
  right: 0;
}
header .content_esportes .section_bar {
  width: 100%;
  max-width: 1216px;
  display: flex;
  flex-direction: row;
  padding: 55px 0;
  align-items: center;
  margin: 115px auto 0px;
  flex-wrap: wrap;
}
header .content_esportes .section_bar span {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .content_esportes .section_bar span a {
  color: var(--colors-white);
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 170px;
  text-decoration: none;
}
header .content_esportes .section_bar span a img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
header .content_esportes .section_bar span a img:hover {
  transform: scale(1.1); /* Aumenta em 10% */
}
header .content_esportes footer {
  width: 100%;
  background-color: var(--colors-neutral);
  width: 100%;
  padding: 24px 0;
  text-align: center;
}
header .content_esportes footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  text-decoration: none;
}
header .content_esportes.show {
  max-height: 1300px;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

@media (max-width: 400px) {
  .content_esportes.show {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.content_jogos {
  background: var(--colors-gradient-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 5;
  margin: auto;
  transition: all 0.5s ease 0s;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  width: 100%;
  width: 100%;
  max-width: 1525px;
  top: 0;
  left: 0;
  right: 0;
}
.content_jogos .jogos {
  width: 100%;
  max-width: 1216px;
  display: flex;
  flex-direction: row;
  padding: 55px 0;
  align-items: center;
  margin: 115px auto 0px;
  flex-wrap: wrap;
  text-align: center;
  gap: 32px;
}
.content_jogos .jogos a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 176px;
  margin: auto;
  align-items: center;
  padding: 33px 0;
  gap: 8px;
}
.content_jogos .jogos a img {
  width: 100%;
  max-width: 69.396px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.content_jogos .jogos a img:hover {
  transform: scale(1.1); /* Aumenta em 10% */
}
.content_jogos footer {
  width: 100%;
  background-color: var(--colors-neutral);
  width: 100%;
  padding: 24px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
.content_jogos footer a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.content_jogos.show {
  max-height: 1300px;
}

.Banner_hero {
  max-width: 1521px;
  margin: auto;
  background: transparent;
}
.Banner_hero .content_1 {
  margin: 32px 51px;
  display: flex;
  flex-direction: row;
  gap: 160px;
  align-items: center;
  justify-content: space-evenly;
}
.Banner_hero .content_1 .left_button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.Banner_hero .content_1 .left_button button {
  background: transparent;
  border: none;
}
.Banner_hero .content_1 .left_button button img {
  display: block;
  max-width: 48px;
}
.Banner_hero .content_1 .conteudo_section_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9%;
}
.Banner_hero .content_1 .conteudo_section_1 h1 {
  color: var(--colors-white);
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.2%; /* 70.528px */
  margin-bottom: 16px;
}
.Banner_hero .content_1 .conteudo_section_1 p {
  color: var(--colors-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.09px;
  margin-bottom: 32px;
  border-radius: 4px;
}
.Banner_hero .content_1 .conteudo_section_1 button {
  padding: 14px 32px;
  background: var(--colors-blue);
  color: var(--colors-white);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  border-radius: 4px;
  margin-bottom: 31px;
}
.Banner_hero .content_1 .conteudo_section_1 .right_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 112px;
}
.Banner_hero .content_1 .conteudo_section_1 .right_content img {
  display: block;
  width: 100%;
  width: 280px;
  height: 158px;
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.Banner_hero .content_1 .conteudo_section_1 .right_content .container {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: end;
  overflow: hidden;
}
.Banner_hero .content_1 .conteudo_section_1 .right_content .container p {
  color: var(--colors-white);
  text-align: center;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.Banner_hero .content_1 .conteudo_section_1 .right_content .container .overlay {
  position: relative;
  top: -159px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Banner_hero .content_1 .conteudo_section_1 .right_content .container .overlay:hover {
  opacity: 1; /* Mostrar a cobertura quando o mouse passa por cima */
}
.Banner_hero .progres {
  background: var(--colors-blue);
  height: 3px;
  width: 0;
}

@media (max-width: 1010px) {
  .Banner_hero .content_1 {
    flex-direction: column-reverse;
    gap: 0;
    align-items: start;
    margin: 32px 14px;
  }
  .Banner_hero .content_1 .left_button {
    flex-direction: row;
    gap: 11px;
  }
  .Banner_hero .content_1 .conteudo_section_1 {
    gap: 0;
  }
  .Banner_hero .content_1 .conteudo_section_1 h1 {
    color: var(--colors-white);
    font-family: Poppins;
    font-size: 60px;
  }
}
@media (max-width: 800px) {
  .Banner_hero .content_1 .left_button {
    justify-content: space-between;
  }
  .Banner_hero .content_1 .conteudo_section_1 h1 {
    font-size: 40px;
  }
  .Banner_hero .content_1 .conteudo_section_1 .right_content {
    display: none !important;
  }
}
.Jogos_Exclusivo {
  color: var(--colors-white);
  width: 100%;
  background: var(--colors-gradient-2);
}
.Jogos_Exclusivo .app_card {
  max-width: 1521px;
  margin: 0 auto;
  padding: 0 51px;
}
.Jogos_Exclusivo .app_card .header {
  padding: 85px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Jogos_Exclusivo .app_card .header p {
  color: #8F9199;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Jogos_Exclusivo .app_card .header h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.2%; /* 35.264px */
}
.Jogos_Exclusivo .app_card .header .logos button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.Jogos_Exclusivo .app_card .header .ver_todos button {
  background: transparent;
  border: none;
  color: var(--colors-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.Jogos_Exclusivo .app_card .header .ver_todos button p {
  color: var(--colors-blue);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block !important;
}
.Jogos_Exclusivo .app_card .cards {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(159px, 287px));
  justify-content: space-between;
  padding-bottom: 107px;
}
.Jogos_Exclusivo .app_card .cards .card {
  position: relative;
  max-height: 460px;
}
.Jogos_Exclusivo .app_card .cards .card p {
  color: #E5E5E5;
  font-size: 19.35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.Jogos_Exclusivo .app_card .cards .card span {
  color: #E5E5E5;
  font-size: 15.05px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Jogos_Exclusivo .app_card .cards .card .texto {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.Jogos_Exclusivo .app_card .cards .card .texto img {
  height: 393px;
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Jogos_Exclusivo .app_card .cards .card .relative {
  position: relative;
  top: -234px;
  left: 61px;
  right: 0;
}
.Jogos_Exclusivo .app_card .cards .card_mais {
  display: grid;
  place-content: center;
  width: 287px;
  height: 412.8px;
}
.Jogos_Exclusivo .app_card .cards .card_mais .ver_todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.Jogos_Exclusivo .app_card .cards .card_mais button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  border: none;
  gap: 13px;
}
.Jogos_Exclusivo .app_card .cards .card_mais button p {
  color: var(--colors-white);
}

@media (max-width: 800px) {
  .secao_2 .app_card {
    padding: 0 14px;
  }
  .secao_2 .app_card .header {
    padding: 85px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .secao_2 .app_card .header p {
    display: none;
  }
  .secao_2 .app_card .header .logos {
    display: none;
  }
  .secao_2 .app_card .cards {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(159px, 287px));
    place-content: center;
  }
}
@media (max-width: 768px) {
  .secao_2 .app_card {
    padding: 0 14px;
  }
  .secao_2 .app_card .header h2 {
    font-size: 28px;
  }
  .secao_2 .app_card .header .logos {
    display: none;
  }
}
footer {
  background: url("../assets/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
footer .app_footer {
  color: var(--colors-white);
  margin: auto;
  max-width: 1521px;
}
footer .app_footer .flex {
  display: flex;
  flex-direction: row;
  padding: 0 51px;
  align-items: center;
}
footer .app_footer .flex .content_footer {
  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 30px;
  position: relative;
  z-index: 5;
}
footer .app_footer .flex .content_footer img {
  display: block;
  width: 133.221px;
}
footer .app_footer .flex .content_footer h2 {
  color: var(--colors-white);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.2%;
  /* 35.264px */
}
footer .app_footer .flex .content_footer .componentes {
  max-width: 1053.325px;
  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 24px;
}
footer .app_footer .flex .content_footer .componentes button {
  color: var(--colors-white);
  display: flex;
  flex-direction: row;
  background: transparent;
  align-items: center;
  gap: 10px;
}
footer .app_footer .flex .content_footer .componentes button img {
  max-width: 18px;
  height: 18px;
}
footer .app_footer .flex .content_footer #botaoDownload {
  background: var(--colors-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 0;
  justify-content: center;
  margin-bottom: 49px;
  max-width: 266px;
  width: 100%;
  gap: 10px;
}
footer .app_footer .flex .content_footer #botaoDownload img {
  max-width: 24px;
}
footer .app_footer .flex .content_footer #botaoDownload p {
  color: var(--colors-white);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer .app_footer .flex .content_footer .aplicativo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
footer .app_footer .flex .content_footer .aplicativo p {
  color: var(--colors-white);
}
footer .app_footer .flex .content_footer .aplicativo p a {
  text-decoration: underline;
}
footer .app_footer .flex .content_footer .aplicativo img {
  display: block;
  max-width: 18px;
}
footer .app_footer .flex .ilustration {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  place-content: center;
  flex-direction: column;
  width: 60%;
}
footer .app_footer .flex .ilustration .ilustration_img1 {
  position: relative;
  top: 138px;
  animation: float 7s ease-in-out infinite;
}
footer .app_footer .flex .ilustration .ilustration_img {
  position: relative;
  top: -250px;
  right: -150px;
  animation: float 8s ease-in-out infinite;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

button {
  background: transparent;
  border: none;
}

@media (max-width: 800px) {
  footer .app_footer .flex {
    flex-direction: column;
    padding: 111px 14px 0 14px;
  }
  footer .app_footer .flex .content_footer {
    width: 100%;
  }
  footer .app_footer .flex .ilustration {
    width: 100%;
  }
  footer .app_footer .flex .ilustration .ilustration_img1 {
    position: relative;
    top: 1px;
    display: block;
    width: 100%;
  }
  footer .app_footer .flex .ilustration .ilustration_img {
    position: relative;
    top: -301px;
    right: -100px;
    display: block;
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  footer .app_footer .flex .ilustration {
    width: 100%;
  }
  footer .app_footer .flex .ilustration .ilustration_img1 {
    position: relative;
    top: 45px;
    display: block;
    width: 100%;
  }
  footer .app_footer .flex .ilustration .ilustration_img {
    position: relative;
    top: -90px;
    right: -70px;
    display: block;
    max-width: 100%;
  }
}/*# sourceMappingURL=main.css.map */