
:root {
    --colors-blue: #00AEFF;
    --colors-white: #FFF;
    --colors-gray-1: #E5E5E5;
    --colors-gray-2: #8F9199;
    --colors-gray-3: #828792;
    --colors-gray-4: #9D9D9D;
    --colors-neutral: #15171B;
    --colors-gradient-1: linear-gradient(136.72deg, rgba(7, 7, 10, 0.86) 19.22%, rgba(15, 16, 22, 0.5) 76.59%);
    --colors-black: #020203;
    --colors-gradient-2: linear-gradient(180deg, #020203 0%, rgba(14, 17, 23, 0.92) 96.35%, rgba(14, 17, 23, 0.9) 100%);
    --fonts-poppins: Poppins, sans-serif;
}

*{
    font-family: var(--fonts-poppins);
}

@import "reset";
@import "header";
@import "nav";
@import "drop_esportes";
@import "modal";